@model IEnumerable<Microblog.Models.ApplicationUser>

@{
    ViewData["Title"] = "Admin - Home";
}

<h2>Admin page</h2>

<ul>
    <li>
        <a asp-area="" asp-controller="Admin" asp-action="Users" title="Users">List of users</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Admin" asp-action="Posts" title="Posts">List of posts</a>
    </li>
</ul>


