@{
    ViewData["Title"] = "Microblog";
}

<h1>Welcome</h1>

<p>To see posts specific to your interests, please <a asp-controller="Account" asp-action="Login">log in</a>, or <a asp-controller="Account" asp-action="Register">register</a> an account!</p>